.playing-card {
  width: var(--card-width, 300px);
  aspect-ratio: 5 / 7;
  max-width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.playing-card-category {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

.playing-card-category-top {
  rotate: 180deg;
}

.playing-card-symbol {
  width: var(--symbol-size, 128px);
  aspect-ratio: var(--symbol-ratio, 1 / 1);
  height: auto;
  max-width: 100%;
  display: block;
  margin: 10px 0;
}
